body{
    display: flex;
}
.diceContainer{
    margin: 40px;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.twoDices{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
}
.dice{
    margin-top: 30px;
    border: 2px solid black;
    height: 50%;
    width: 50%;
    border-radius: 25%;
    background-color: #F5F5DC;
    box-shadow: 15px 10px 15px black;
    margin-right: 20px;
}
#dice,
#dice2{
    margin-top: 20px;
    font-size: 500%;
    text-align: center;
}
#diceHistoryThrow{
    overflow: auto;
    height: 350px;
    width: 200px;
    border: 2px solid black;
}
#history{
    margin-left: 15px;
}
button{
    margin-top: 20px;
}
::-webkit-scrollbar {
    
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
  }
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }